* {
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    display: flex;
    justify-content: center ;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #7eb0d3, #342390);
}
.calc{
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(4, 61px);
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    padding: 12px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}


input{
    padding: 5px;
    grid-column: span 4;
    border: 2px solid transparent;
    border-radius: 12px;
    height: 100px;
    text-align: end;
    margin: 3px 0 10px 0;
    font-size: 60px;
    background: #d5dadf;
    font-family:  "Orbitron", sans-serif;
    outline: none;
    letter-spacing: 2px;
    text-shadow: 0 0 4px rgb(61, 65, 67);
}

button{
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 60px;
    height: 60px;
    background-image: linear-gradient(135deg, #00c6ff, #0072ff);
    font-family:  monospace;
    border: none;
    outline: none;
    color: white;
    padding: 10px;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
}
button:hover{
    transform: scale(1.1);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
    border: 1px solid transparent;
}
button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

/*für kleine Geräte*/
@media (max-width: 400px) {
  button {
    height: 50px;
    font-size: 16px;
  }
  input {
    font-size: 30px;
    height: 60px;
  }
}